# Document de data visualisation sur une base de données NBA

Ce document sert à analyser, et visualiser des données sur les différents joueurs NBA, de la saison 1996/1997 à 2022/2023.

In [2]:
# On importe nos librairies Python
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# On récupère notre jeu de données
df = pd.read_csv("./all_seasons.csv")

On commence avec l'affichage de certaines statistiques générales sur notre jeu de données

In [4]:
# On affiche les cinq premières colonnnes
df.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,...,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97
2,2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,...,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97
3,3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,...,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97
4,4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,...,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97

In [5]:
# On affiche les cinq dernières colonnes
df.tail()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
12839,12839,Joel Embiid,PHI,29.0,213.36,127.005760,Kansas,Cameroon,2014,1,...,33.1,10.2,4.2,8.8,0.057,0.243,0.370,0.655,0.233,2022-23
12840,12840,John Butler Jr.,POR,20.0,213.36,86.182480,Florida State,USA,Undrafted,Undrafted,...,2.4,0.9,0.6,-16.1,0.012,0.065,0.102,0.411,0.066,2022-23
12841,12841,John Collins,ATL,25.0,205.74,102.511792,Wake Forest,USA,2017,1,...,13.1,6.5,1.2,-0.2,0.035,0.180,0.168,0.593,0.052,2022-23
12842,12842,Jericho Sims,NYK,24.0,208.28,113.398000,Texas,USA,2021,2,...,3.4,4.7,0.5,-6.7,0.117,0.175,0.074,0.780,0.044,2022-23
12843,12843,JaMychal Green,GSW,33.0,205.74,102.965384,Alabama,USA,Undrafted,Undrafted,...,6.4,3.6,0.9,-8.2,0.087,0.164,0.169,0.650,0.094,2022-23

In [6]:
# On affiche toutes nos colonnes
print(df.columns)

Index(['Unnamed: 0', 'player_name', 'team_abbreviation', 'age',
       'player_height', 'player_weight', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

In [7]:
# On affiche chaque colonne dans l'ordre
column = ['player_name', 'team_abbreviation', 'college', 'country', 'season']

for col in column:
    print(col, df[col].unique())
    print(" ")

player_name ['Randy Livingston' 'Gaylon Nickerson' 'George Lynch' ...
 'Jeff Dowtin Jr.' 'Jeremy Sochan' 'John Butler Jr.']

team_abbreviation ['HOU' 'WAS' 'VAN' 'LAL' 'DEN' 'ORL' 'CHH' 'MIL' 'DET' 'POR' 'DAL' 'UTA'
 'SEA' 'BOS' 'IND' 'SAS' 'MIA' 'ATL' 'NJN' 'LAC' 'GSW' 'PHI' 'NYK' 'TOR'
 'PHX' 'MIN' 'CHI' 'SAC' 'CLE' 'MEM' 'NOH' 'CHA' 'NOK' 'OKC' 'BKN' 'NOP']

college ['Louisiana State' 'Northwestern Oklahoma' 'North Carolina'
 'Florida State' 'UCLA' 'Tennessee-Chattanooga' nan 'Michigan' 'Purdue'
 'Duke' 'Ohio' 'Eastern Michigan' 'Nevada-Las Vegas' 'Kansas'
 'Texas-El Paso' 'Indiana' 'Louisville' 'Houston' 'Oklahoma'
 'Oral Roberts' 'Oregon State' 'Brigham Young' 'Washington' 'Memphis'
 'Notre Dame' 'Delaware State' 'Alabama' 'Wyoming' 'Pittsburgh'
 'Providence' 'Nebraska' 'Michigan State' 'Mississippi State'
 'New Orleans' 'Penn State' 'Western Carolina' 'Iowa State'
 "St. Mary's (TX)" 'Clemson' 'Ohio State' 'Georgetown' 'Marquette'
 'Virginia Tech' 'Southern Mississippi' 'McNeese State' 'Longwood'
 'Arkansas' 'Arkansas-Little Rock' 'Virginia' 'Detroit Mercy'
 'Oklahoma State' 'Gonzaga' 'Syracuse' 'Richmond' 'Georgia Tech'
 'Maryland' 'Pennsylvania' 'Grand Canyon' 'Tulane' 'Boston College'
 'Arizona State' 'Kentucky' "St. John's (NY)" 'South Carolina'
 'California' 'Texas Tech' 'Bradley' 'Temple' 'Illinois' 'Villanova'
 'Arizona' 'Auburn' 'Western Kentucky' 'North Carolina State'
 'Old Dominion' 'Cincinnati' 'Washington State' 'Tennessee' 'Connecticut'
 'Yale' 'Boise State' 'Southern Illinois' 'Xavier'
 'California-Santa Barbara' 'Cal State-Fullerton' 'Long Beach State'
 'Tennessee State' 'Albany State (GA)' 'Virginia Union' 'Central Michigan'
 'Georgia' 'Northern Illinois' 'Colorado' 'Pepperdine' 'La Salle'
 'Florida' 'Fayetteville State' 'Navy' 'Baylor' 'Nevada-Reno'
 'Jacksonville' 'Pacific' 'Southeastern Oklahoma State' 'Duquesne'
 'Augustana (SD)' 'Central Arkansas' 'West Virginia Tech'
 'California-Irvine' 'Trinity Valley Community College' 'DePaul' 'Hampton'
 'Rice' 'Marist' 'Southern California' 'Centenary (LA)' 'Wake Forest'
 'Miami (OH)' 'Weber State' 'Mercer' 'Santa Clara' 'Vanderbilt'
 'Minnesota' 'Wright State' 'Hartford' 'Tulsa' 'Wichita State'
 'George Washington' 'Oregon' 'Seton Hall' 'Wisconsin-Stevens Point'
 'Utah' 'Missouri-Kansas City' 'Jackson State' 'Stetson' 'Massachusetts'
 'New Mexico' 'Drexel' 'Murray State' 'American International'
 'Coppin State' 'Eastern Illinois' 'Iowa' 'Texas Christian' 'Texas'
 'Montana' 'Louisiana Tech' 'Central State (OH)' 'New Mexico State'
 'Montevallo' 'Seward County Community College'
 'North Carolina-Wilmington' 'Missouri' 'San Diego State'
 'Georgia Southern' 'Wisconsin' 'Kansas State' 'West Florida'
 'Mt. San Antonio' 'Southern' 'Creighton' 'East Carolina' 'Pfeiffer'
 'Stanford' 'Lamar' 'Central Connecticut State' 'South Carolina State'
 'San Jose State' 'Colgate' 'College of Charleston' 'Bowling Green'
 'Cal State-Bakersfield' 'Austin Peay' 'Morehead State' 'Davidson'
 'Morehouse' 'Wisconsin-Green Bay' 'Auburn-Montgomery' 'Rhode Island'
 'Nicholls State' 'Ball State' 'Long Island-Brooklyn' 'Valparaiso'
 'Toledo' 'Liberty' 'Florida A&M' 'Saint Louis' 'Dayton' 'Colorado State'
 'Miami (FL)' 'Texas State' 'Thomas More' 'Fresno State' 'George Mason'
 'South Florida' 'Hawaii' 'Barton Community College' 'Northwestern'
 'North Carolina-Charlotte' 'Central Oklahoma' 'Augsburg' 'Saint Rose'
 'Louisiana-Monroe' "Master's" 'Lebanon Valley' 'Northern Arizona'
 'Saint Vincent' 'St. Bonaventure' 'Princeton' 'Butler Community College'
 'Florida International' 'Venezuela' 'Hofstra'
 'Indian Hills Community College' 'Northwest Florida State'
 'Southern Methodist' 'Blinn' 'Mississippi' 'Wingate' 'Fordham'
 'Northeast Mississippi Community College' 'Marshall' 'Texas-San Antonio'
 'Shaw' 'Western Michigan' 'Portland State' 'Idaho' 'North Dakota'
 'Utah State' 'Central Florida' 'Nevada' 'Manhattan'
 'Brigham Young-Hawaii' "Saint Joseph's" 'Kent State' 'William Paterson'
 'Southeastern Illinois' 'Yonsei (KOR)' 'Utah Valley' 'Walsh' 'Oakland'
 'Louisiana-Lafayette' 'Texas A&M' 'Alabama-Birmingham' 'Fairfield'
 'Rutgers' 'Northeastern' 'Delta State' 'Meridian Community College'
 'Missouri State' 'Eastern Washington' 'West Virginia' 'Rider'
 'Indiana Purdue-Indianapolis' 'Midland' "Saint Mary's (CA)"
 'Robert Morris (IL)' 'Virginia Military Institute' 'Northwestern State'
 'Virginia Commonwealth' 'Cleveland State' 'Tennessee-Martin' 'Towson'
 'Butler' 'Le Moyne' 'Harvard' 'Augusta State' 'Portland' 'Cornell'
 'Cal State-San Bernardino' 'Midwestern State' 'Siena'
 'Jacksonville State' 'Alabama A&M' 'Iona' 'Tennessee Tech'
 'Norfolk State' 'Belmont' 'California-Berkeley' 'Lehigh' 'North Texas'
 'South Dakota State' 'Bucknell' 'USC' 'UNLV' 'Georgia State'
 'Westchester CC NY' 'Ohio U.' 'Miami (Fla.)' "St. Mary's (CA)"
 "St. John's, N.Y." 'Holy Cross' 'Loyola (IL)' 'Alabama Huntsville'
 'California-Los Angeles' 'Va Commonwealth' 'South Carolina Upstate' ' '
 'St. Louis' 'Miami' 'University of Dayton' 'American University'
 'Cal-Santa Barbara' 'S.E. Missouri' 'Molloy' 'Cal State-Long Beach'
 'Stony Brook, N.Y.' 'Boston U.' 'Louisana-Lafayette'
 'University of California, Berkeley' 'University of Colorado Boulder'
 'Illinois State' 'Georgia Institute of Technology'
 'University of Texas at Austin' 'California State-Long Beach'
 "St. John's" 'Texas-Austin' 'Radford' 'Indiana-Purdue Indianapolis'
 'Lipscomb' 'Nebraska-Lincoln' 'No College' 'Texas-Arlington' 'TCU'
 "St. Joseph's (PA)" 'Indiana-Purdue Fort Wayne' 'Virginia Tech '
 'Florida Gulf Coast' 'Campbell University' 'Cal Poly'
 "St.Mary's College of California" '                                   '
 'Truman State' 'Vermont' 'Montana State' 'Delaware' 'William & Mary'
 'Arizona St.' 'Lincoln Memorial' 'Wheeling Jesuit' 'Texas Legends'
 'Denver' 'Wisc.-Green Bay' 'UNC' 'UCF' 'Loyola-Maryland' 'LSU'
 'Chicago St.' "St. Mary's" 'Wisconsin-Milwaukee'
 'Northwest Missouri State' 'Winthrop' 'Northern Iowa' 'Cal-Davis'
 'Stephen F. Austin' 'San Francisco' 'John A. Logan' 'Buffalo']

country ['USA' 'Nigeria' 'Congo' 'Canada' 'Serbia and Montenegro' 'Ukraine'
 'Croatia' 'Jamaica' 'Lithuania' 'Slovenia' 'US Virgin Islands' 'France'
 'St. Vincent & Grenadines' 'Germany' 'Dominican Republic' 'New Zealand'
 'Georgia' 'Belize' 'England' 'Turkey' 'Greece' 'Finland' 'Senegal'
 'Mexico' 'Puerto Rico' 'China' 'Argentina' 'Mali' 'U.S. Virgin Islands'
 'Yugoslavia' 'Spain' 'Venezuela' 'Serbia' 'Haiti' 'Russia' 'Brazil'
 'Ireland' 'Scotland' 'Poland' 'Netherlands' 'Czech Republic' 'Montenegro'
 'United Kingdom' 'Democratic Republic of the Congo' 'Latvia'
 'South Korea' 'USSR' 'Australia' 'Uruguay' 'Sudan (UK)' 'Italy'
 'Switzerland' 'Gabon' 'Cameroon' 'Iran' 'Israel' 'Tanzania' 'Sweden'
 'Panama' 'Great Britain' 'Bosnia' 'Macedonia' 'Bosnia & Herzegovina'
 'Cabo Verde' 'Tunisia' 'South Sudan' 'Bahamas' 'Ghana' 'Austria'
 'Bosnia and Herzegovina' 'Egypt' 'Trinidad and Tobago' 'Japan' 'Angola'
 'Saint Lucia' 'Sudan' 'DRC' 'Republic of the Congo' 'Guinea' 'Denmark'
 'Colombia' 'Portugal']

season ['1996-97' '1997-98' '1998-99' '1999-00' '2000-01' '2001-02' '2002-03'
 '2003-04' '2004-05' '2005-06' '2006-07' '2007-08' '2008-09' '2009-10'
 '2010-11' '2011-12' '2012-13' '2013-14' '2014-15' '2015-16' '2016-17'
 '2017-18' '2018-19' '2019-20' '2020-21' '2021-22' '2022-23']

In [8]:
# On affiche le nombre de valeurs uniques pour chaque colonnes
column = ['player_name', 'team_abbreviation', 'college', 'country', 'season']

for col in column:
    print(col, df[col].nunique())
    print(" ")

player_name 2551

team_abbreviation 36

college 356

country 82

season 27

In [41]:
# On affiche les cinq valeurs les plus présentes de nos colonnes
column = ['player_name', 'country', 'season']

for col in column:
    print(df[col].value_counts().head())
    print(" ")

player_name
Vince Carter      22
Dirk Nowitzki     21
Jamal Crawford    20
Udonis Haslem     20
Kobe Bryant       20
Name: count, dtype: int64

country
USA          10721
Canada         205
France         190
Australia      100
Spain           93
Name: count, dtype: int64

season
2021-22    605
2017-18    540
2020-21    540
2022-23    539
2018-19    530
Name: count, dtype: int64

Pour chaque colonne, voici l'analyse et la conclusion que nous pouvons en tirer :
- Pour la colonne des joueurs, Vince Carter est celui qui a joué le plus de saisons, son nom apparaissant le plus de fois dans la liste

- Les Etats-Unis sont bien entendu le pays majoritaire de la NBA, talonnés de près par les autres grandes nations du basket-ball.

- Enfin, les dernières saisons sont celles qui contiennent le plus de joueurs.

In [13]:
# Statistiques de notre jeu de données pour les 3 statistiques principales de la NBA : points, rebonds, passes décisives
col = ['pts', 'reb', 'ast']
df[col].describe()

                pts           reb           ast
count  12844.000000  12844.000000  12844.000000
mean       8.212582      3.558486      1.824681
std        6.016573      2.477885      1.800840
min        0.000000      0.000000      0.000000
25%        3.600000      1.800000      0.600000
50%        6.700000      3.000000      1.200000
75%       11.500000      4.700000      2.400000
max       36.100000     16.300000     11.700000

Ici, nous avons les statistiques générales de nos joueurs, on peut notamment observer le nombre maximum, minimum et la moyenne de chacune de nos statistiques pour chaque joueur de basket-ball.

# Performances sportives
Dans cette partie nous allons jeter un coup d'oeil aux plus grosses performances sportives réalisées en NBA.

In [34]:
col = ["player_name", "team_abbreviation", "pts", "season"]
print("Les 10 meilleurs scoreurs de 1996 à 2023 sur une seule saison")
df[df["gp"]>50][col].nlargest(10, "pts")

Les 10 meilleurs scoreurs de 1996 à 2023 sur une seule saison

          player_name team_abbreviation   pts   season
10227    James Harden               HOU  36.1  2018-19
4163      Kobe Bryant               LAL  35.4  2005-06
10634    James Harden               HOU  34.3  2019-20
12839     Joel Embiid               PHI  33.1  2022-23
4302    Allen Iverson               PHI  33.0  2005-06
12740     Luka Doncic               DAL  32.4  2022-23
12564  Damian Lillard               POR  32.2  2022-23
2847    Tracy McGrady               ORL  32.1  2002-03
8013     Kevin Durant               OKC  32.0  2013-14
11537   Stephen Curry               GSW  32.0  2020-21

In [33]:
col = ["player_name", "team_abbreviation", "reb", "season"]
print("Les 10 meilleurs rebondeurs de 1996 à 2023 sur une seule saison (minimum 50 matchs joués)")
df[df["gp"]>50][col].nlargest(10, "reb")

Les 10 meilleurs rebondeurs de 1996 à 2023 sur une seule saison (minimum 50 matchs joués)

          player_name team_abbreviation   reb   season
188     Dennis Rodman               CHI  16.1  1996-97
9907   Andre Drummond               DET  16.0  2017-18
10286  Andre Drummond               DET  15.6  2018-19
2948      Ben Wallace               DET  15.4  2002-03
6292       Kevin Love               MIN  15.2  2010-11
9885   DeAndre Jordan               LAC  15.2  2017-18
10855  Andre Drummond               CLE  15.2  2019-20
760     Dennis Rodman               CHI  15.0  1997-98
8446   DeAndre Jordan               LAC  15.0  2014-15
8767   Andre Drummond               DET  14.8  2015-16

In [35]:
col = ["player_name", "team_abbreviation", "ast", "season"]
print("Les 10 meilleurs passeurs de 1996 à 2023 sur une seule saison (minimum 50 matchs joués)")
df[df["gp"]>50][col].nlargest(10, "ast")

Les 10 meilleurs passeurs de 1996 à 2023 sur une seule saison (minimum 50 matchs joués)

             player_name team_abbreviation   ast   season
7062         Rajon Rondo               BOS  11.7  2011-12
8882         Rajon Rondo               SAC  11.7  2015-16
11555  Russell Westbrook               WAS  11.7  2020-21
4697          Steve Nash               PHX  11.6  2006-07
5060          Chris Paul               NOH  11.6  2007-08
3647          Steve Nash               PHX  11.5  2004-05
342         Mark Jackson               IND  11.4  1996-97
6445          Steve Nash               PHX  11.4  2010-11
6609         Rajon Rondo               BOS  11.2  2010-11
9457        James Harden               HOU  11.2  2016-17

# Parcours et formation
On analyse les performances selon le parcours ou la formation des joueurs NBA.

In [49]:
# On affiche les universités les plus représentées
df["college"].value_counts()

college
Kentucky             447
Duke                 410
North Carolina       355
UCLA                 318
Arizona              293
                    ...
Arizona St.            1
Stephen F. Austin      1
San Francisco          1
John A. Logan          1
Buffalo                1
Name: count, Length: 356, dtype: int64

In [54]:
# On affiche ici les universités avec la meilleure moyenne de points
df.groupby("college")["pts"].mean().sort_values(ascending=False).head()

college
Davidson            20.200000
Lehigh              18.660000
Western Carolina    16.053846
Navy                15.428571
Marist              15.400000
Name: pts, dtype: float64